<!--
 SPDX-License-Identifier: ice License 1.0
-->

<html>
<head>
    <script>
        function createSPCPaymentRequest(spcData) {
            if (!window.PaymentRequest) {
                error('PaymentRequest API is not supported.');
                return {canMakePayment:function (){return false}}
            }
            if (spcData === undefined || spcData.credentialIds === undefined) {
                throw new Error('credentialIds must be set in the input spcData object.');
            }
            spcData.challenge = Uint8Array.from(atob(spcData.challenge), c => c.charCodeAt(0)).buffer
            spcData.credentialIds = spcData.credentialIds.map(function(cr) {
                return  fromBase64Url(cr)
            })
            // https://w3c.github.io/secure-payment-confirmation/#sctn-securepaymentconfirmationrequest-dictionary
            if (spcData.instrument === undefined)
                spcData.instrument = {};
            if (spcData.instrument.displayName === undefined)
                spcData.instrument.displayName = '{{.Tx.Sender}}';
            if (spcData.instrument.icon === undefined)
                spcData.instrument.icon = '{{.Tx.Network.Icon}}';
            if (spcData.timeout === undefined)
                spcData.timeout = 60000;
            if (!('payeeName' in spcData) && !('payeeOrigin' in spcData))
                spcData.payeeOrigin = window.location.origin;

            const supportedInstruments = [{supportedMethods: 'secure-payment-confirmation', data: spcData}];
            const details = {
                total: {
                    label: 'Total',
                    amount: {
                        currency: '{{.Tx.Token}}',
                        value: '{{.Tx.Amount}}',
                    },
                },
            };

            return new PaymentRequest(supportedInstruments, details);
        }
        async function initSimpleWebAuthn() {
            challenge = {{.Challenge}}
            const response = await navigator.credentials.get({
                publicKey: {
                    challenge: Uint8Array.from(atob(challenge.challenge), c => c.charCodeAt(0)).buffer,
                    allowCredentials: challenge.allowCredentials.webauthn.map(({ id, type }) => ({
                        id: fromBase64Url(id),
                        type,
                    })),
                    rpId: challenge.rp.id,
                    userVerification: challenge.userVerification,
                    timeout: 60000,
                },
            })
            const initRes = await fetch(`{{.Origin}}/auth/action`, {
                method: 'POST',
                headers: {
                    'content-type': 'application/json',
                    'Authorization': '{{.Token}}',
                    'X-Client-id': '{{.AppID}}',
                },
                body: JSON.stringify({
                    "challengeIdentifier": challenge.challengeIdentifier,
                    "firstFactor": {
                        "kind": "Fido2",
                        "credentialAssertion": {
                            credId: response.id,
                            clientData: toBase64Url(response.response.clientDataJSON),
                            authenticatorData: toBase64Url(response.response.authenticatorData),
                            signature: toBase64Url(response.response.signature),
                            userHandle: response.response.userHandle ? toBase64Url(response.response.userHandle) : undefined,
                        }
                    }
                }),
            })

        }

        async function initPayment() {
            challenge = {{.Challenge}}
            const request = await createSPCPaymentRequest(challenge);

            try {
                const canMakePayment = await request.canMakePayment();
                if !canMakePayment {
                    initSimpleWebAuthn()
                }
            } catch (err) {
                error(`Error from canMakePayment: ${err.message}`);
            }

            const instrumentResponse = await request.show();
            await instrumentResponse.complete('success')
            const initRes = await fetch(`{{.Origin}}/auth/action`, {
                method: 'POST',
                headers: {
                    'content-type': 'application/json',
                    'Authorization': '{{.Token}}',
                    'X-Client-id': '{{.AppID}}',
                },
                body: JSON.stringify({
                    "challengeIdentifier": challenge.challengeIdentifier,
                    "firstFactor":{
                        "kind":"Fido2",
                        "credentialAssertion":{
                            "credId":instrumentResponse.details.id,
                            "clientData": toBase64Url(instrumentResponse.details.response.clientDataJSON),
                            "authenticatorData": toBase64Url(instrumentResponse.details.response.authenticatorData),
                            "signature": toBase64Url(instrumentResponse.details.response.signature),
                            "userHandle": toBase64Url(instrumentResponse.details.response.userHandle)
                        }
                    }
                }),
            })
        }
        function error(msg) {  // eslint-disable-line no-unused-vars
            let element = document.createElement('pre');
            element.innerHTML = msg;
            element.className = 'error';
            document.getElementById('msg').appendChild(element);
        }
        function info(msg) {
            let element = document.createElement('pre');
            element.innerHTML = msg;
            element.className = 'info';
            document.getElementById('msg').appendChild(element);
        }
        function pad (topad) {
            const padLength = 4 - (topad.length % 4)
            if (padLength < 4) {
                topad += '='.repeat(padLength)
            }
            return topad
        }
        function fromBase64Url (encoded) {
            encoded = pad(encoded).replace(/\-/g, '+').replace(/_/g, '/')
            return Uint8Array.from(atob(encoded),c => c.charCodeAt(0)).buffer // base64
        }
        function toBase64(buffer) {
            return btoa(String.fromCharCode.apply(null, new Uint8Array(buffer)))
        }
        function toBase64Url(buffer) {
            return toBase64(buffer).replace(/=/g, '').replace(/\+/g, '-').replace(/\//g, '_')
        }
    </script>
</head>
<body onload="initPayment()">
<button onclick="initPayment()">pay</button>
<button onclick="initSimpleWebAuthn()">webauthn</button>
<table border="0">
    <tr> <td>FROM:</td><td>{{.Tx.Sender}}</td></tr>
    <tr> <td>TO:</td><td>{{.Tx.ReceiverAddress}}</td></tr>
    <tr> <td>AMOUNT:</td><td>{{.Tx.Amount}} {{.Tx.Token}}</td></tr>
</table>
<div id = "msg" data-userID="{{.UserID}}"></div>
</body>
</html>